/*Defaults*********************************************************/
* {
  margin: 0;
  padding: 0; }

html, body {
  background-color: #DBD1BF;
  height: 100%; }

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

P {
  font-family: "Roboto", "Georgia", sans-serif;
  font-size: 1.4rem;
  color: #444; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-table; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

body {
  font-size: 5vmin;
  position: relative;
}

/* Page Wrapper *********************************************************/
#pageWrapper {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}
/* All pages *********************************************************/
[data-role="page"] {
  color: #444;
  background-color: #E5F2FF;
  margin: 0rem;
  position: absolute;
  width: 100%;
  height:100%;
  top: 4rem;
  left: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

  [data-role="page"].activePage {
            visibility: visible;
            z-index: 1; }



/* Header *********************************************************/

.appTitle {
  position: fixed;
  background-color: #3B628F;
  width: 100%;
  left: 0;
  top: 0;
  height: 4rem;
  z-index: 14;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.appTitle h1 {
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
    font-family: "Roboto", "Georgia", sans-serif;
    font-size: 1.7rem;
    color: #DBD1BF;
    letter-spacing: 2px;
    display: inline-block;
    width: 100%;
  }
.appTitle h1.movedH1{
    width: 75%;
}

/* contacts page *********************************************************/
[data-role=listview]{
  list-style:none;
  width: 100%;
}
[data-role=listview] li{
  font-size:1.4rem;
  padding: 0 1rem;
  line-height: 4rem;
  width: 100%;
  height: 4rem;
  border:1px solid #3B628F;
  background-color:#DBD1BF;
  color:#3B628F;
  font-weight: 500;
  cursor:pointer;
}
[data-role=overlay]{
  position:fixed;
  top:3;
  left:0;
  z-index:10;
  height:100%;
  width:100%;
  background-color: #AFC4DB;
  opacity: 0.8;
  display: none;
}
[data-role=modal]{
  position:fixed;
  top:17%;
  left:3%;
  width: 76%;
  z-index:15;
  height: 45%;
  padding:5vh;
  border:1px solid #333;
  color:#DBD1BF;
  background-color:#3B628F;
  box-shadow:1px 1px 2px rgb(0,0,0);
  display: none;
}
[data-role=modal] p{
  color:#DBD1BF;
}
[data-role=modal] h3{
    font-size: 1.5rem;
}
#backBtn{
    display: none;
    width: 7%;
    height:52%;
    padding-left: 1rem;
}

#btnOk, #btnOk2{
    width: 25%;
    height:21%;
    margin-top: 20%;
    margin-left: 40%;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: #DBD1BF;
    color: #3B628F;
    font-family: "Roboto", "Georgia", sans-serif;
}
@media screen and (min-width: 500px){
    #btnOk, #btnOk2{
        margin-top: 6%;
    }

}
#contactsMap{
    width: 96%;
    height: 75%;
    margin: 2%;
    z-index:20;
    border: 1px solid #3B628F;
}
#msgBox{
  position:fixed;
  top:20%;
  left:3%;
  width: 76%;
  z-index:15;
  height: 45%;
  padding:5vh;
  border:1px solid #333;
  background-color:#3B628F;
  box-shadow:1px 1px 2px rgb(0,0,0);
  display: none;
}
#msgBox p{
  color:#DBD1BF;
}

/* Footer *********************************************************/
.footer {
  background-color: #3B628F;
  margin: 0rem;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 3rem;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer P {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1rem;
    padding-top: 17px;
    color: #DBD1BF;
}


